.git
.venv
extern
**/__pycache__
**/*.so
build
*.egg-info
experiments
wandb
.neptune
.pytest_cache
.ruff_cache

benchmark*/
runs*/
weights/
checkpoints/
/data/
!/tests/smoke_tests/data/
!/tests/smoke_tests/data/**
/artifacts/
external/

pufferlib/resources/drive/binaries/*/
!pufferlib/resources/drive/binaries/carla/
!pufferlib/resources/drive/binaries/carla/**
!pufferlib/resources/drive/binaries/dense/
!pufferlib/resources/drive/binaries/dense/**
!pufferlib/resources/drive/binaries/lateral/
!pufferlib/resources/drive/binaries/lateral/**
!pufferlib/resources/drive/binaries/longitudinal/
!pufferlib/resources/drive/binaries/longitudinal/**
!pufferlib/resources/drive/binaries/nuplan/
!pufferlib/resources/drive/binaries/nuplan/**
!pufferlib/resources/drive/binaries/obstacles/
!pufferlib/resources/drive/binaries/obstacles/**
!pufferlib/resources/drive/binaries/vru/
!pufferlib/resources/drive/binaries/vru/**

pufferlib/resources/drive/output*.gif
pufferlib/resources/drive/pufferdrive_*.gif
*.mp4
*.mov
*.webm
*.avi
*.mkv
